@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    background-color: #0a0a0a;
    color:#FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}
textarea {
    border: 2px solid yellow;
    color:white;
    background-color: darkcyan;
}
input {
    color:white;
    background-color: darkcyan;
}
